<% content_for :title do %>MIT Model United Nations Conference &mdash; Committees<% end %>
<div class="container container-main">
  <div class="row">
    <div class="col">
      <h1 class="title">MITMUNC XI 2018 Committees</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>MITMUNC features many different committees that embark on a wide array of enthralling topics past, present, and future.</p>
    </div>
  </div>
  <div class="row">
    <div id="committeeAccordion" class="col">
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeASEAN" data-toggle="collapse">
          <h3>Association of Southeast Asian Nations (ASEAN)</h3>
        </div>
        <div id="committeeASEAN" class="card-body collapse" data-parent="#committeeAccordion">
          <h4>Chairs</h4>
          <ul>
            <li>Kristen Surrao</li>
            <li>Stephanie Yuen</li>
          </ul>
          <h4>Topics</h4>
          <ul>
            <li>Preventing Regional Human Trafficking</li>
            <li>Conserving Natural Resources in the Face of Urbanization, Industrialization, and Natural Disaster</li>
          </ul>
          <p><%= link_to "Download Background Guide", asset_path("MITMUNC_XI/MITMUNC_XI-BG-ASEAN.pdf", skip_pipeline: true) %></p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeDISEC" data-toggle="collapse">
          <h3>Disarmament and International Security Committee (DISEC)</h3>
        </div>
        <div id="committeeDISEC" class="card-body collapse" data-parent="#committeeAccordion">
          <h4>Chairs</h4>
          <ul>
            <li>Adina Golden</li>
            <li>Octavio Vega</li>
          </ul>
          <h4>Topics</h4>
          <ul>
            <li>Measures to Limit Violent Conflict along the Tigris and Euphrates Rivers</li>
            <li>The Issue of Cyberterror Against Nuclear Facilities and Technology</li>
          </ul>
          <p><%= link_to "Download Background Guide", asset_path("MITMUNC_XI/MITMUNC_XI-BG-DISEC.pdf", skip_pipeline: true) %></p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeECOSOC" data-toggle="collapse">
          <h3>Economic Social Council (ECOSOC)</h3>
        </div>
        <div id="committeeECOSOC" class="card-body collapse" data-parent="#committeeAccordion">
          <h4>Chairs</h4>
          <ul>
            <li>Diego Colin</li>
            <li>Roland Rocafort</li>
          </ul>
          <h4>Topics</h4>
          <ul>
            <li>The Migration of Skilled Labor in Developing Countries</li>
            <li>Access to Basic Resources and Healthcare in Venezuela</li>
          </ul>
          <p><%= link_to "Download Background Guide", asset_path("MITMUNC_XI/MITMUNC_XI-BG-ECOSOC.pdf", skip_pipeline: true) %></p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeEU" data-toggle="collapse">
          <h3>European Union (EU)</h3>
        </div>
        <div id="committeeEU" class="card-body collapse" data-parent="#committeeAccordion">
          <h4>Chairs</h4>
          <ul>
            <li>Kendall Garner </li>
            <li>Jason Lu</li>
          </ul>
          <h4>Topics</h4>
          <ul>
            <li>IoT Security and Regulation in the EU Market</li>
            <li>EU Investments and Regulations in Autonomous/Electric Cars</li>
          </ul>
          <p><%= link_to "Download Background Guide", asset_path("MITMUNC_XI/MITMUNC_XI-BG-EU.pdf", skip_pipeline: true) %></p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeHRC" data-toggle="collapse">
          <h3>Human Rights Council (HRC)</h3>
        </div>
        <div id="committeeHRC" class="card-body collapse" data-parent="#committeeAccordion">
          <h4>Chairs</h4>
          <ul>
            <li>Dina Atia</li>
            <li>Seif Eses</li>
          </ul>
          <h4>Topics</h4>
          <ul>
            <li>On the Deteriorating Women’s Rights in Afghanistan</li>
            <li>The Treatment of Muslims in China</li>
          </ul>
          <p><%= link_to "Download Background Guide", asset_path("MITMUNC_XI/MITMUNC_XI-BG-HRC.pdf", skip_pipeline: true) %></p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeIAEA" data-toggle="collapse">
          <h3>International Atomic Energy Agency (IAEA)</h3>
        </div>
        <div id="committeeIAEA" class="card-body collapse" data-parent="#committeeAccordion">
          <h4>Chairs</h4>
          <ul>
            <li>Sophia Li</li>
            <li>Wilson Spearman</li>
          </ul>
          <h4>Topics</h4>
          <ul>
            <li>Nuclear Safety on the Korean Peninsula</li>
            <li>Impact of Climate Change on Nuclear Energy</li>
          </ul>
          <p><%= link_to "Download Background Guide", asset_path("MITMUNC_XI/MITMUNC_XI-BG-IAEA.pdf", skip_pipeline: true) %></p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeIMF" data-toggle="collapse">
          <h3>International Monetary Fund (IMF)</h3>
        </div>
        <div id="committeeIMF" class="card-body collapse" data-parent="#committeeAccordion">
          <h4>Chairs</h4>
          <ul>
            <li>Isabella Adu</li>
            <li>Zachary Alfaro</li>
          </ul>
          <h4>Topics</h4>
          <ul>
            <li>Bailout of Pakistan</li>
            <li>The Economic Crisis in Venezeula</li>
          </ul>
          <p><%= link_to "Download Background Guide", asset_path("MITMUNC_XI/MITMUNC_XI-BG-IMF.pdf", skip_pipeline: true) %></p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeJCC" data-toggle="collapse">
          <h3>Joint Crisis Committee (JCC)</h3>
        </div>
        <div id="committeeJCC" class="card-body collapse" data-parent="#committeeAccordion">
          <h4>Chairs</h4>
          <ul>
            <li>Sophia Fang</li>
            <li>Christopher Kiel</li>
            <li>Katie O'Nell</li>
            <li>Justin Yu</li>
          </ul>
          <h4>Topic</h4>
          <ul>
            <li>The Cold War &mdash; 1962</li>
          </ul>
          <p><%= link_to "Download Background Guide", asset_path("MITMUNC_XI/MITMUNC_XI-BG-JCC.pdf", skip_pipeline: true) %></p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeSPECPOL" data-toggle="collapse">
          <h3>Special Political & Decolonization Committee (SPECPOL)</h3>
        </div>
        <div id="committeeSPECPOL" class="card-body collapse" data-parent="#committeeAccordion">
          <h4>Chairs</h4>
          <ul>
            <li>Radha Mastandrea </li>
            <li>Nico van Wijk</li>
          </ul>
          <h4>Topics</h4>
          <ul>
            <li>UN Peacekeeping (with Subtopics)</li>
            <li>International Freedom of the Press</li>
          </ul>
          <p><%= link_to "Download Background Guide", asset_path("MITMUNC_XI/MITMUNC_XI-BG-SPECPOL.pdf", skip_pipeline: true) %></p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeUNECLAC" data-toggle="collapse">
          <h3>United Nations Economic Commission for Latin America and the Caribbean (UNECLAC)</h3>
        </div>
        <div id="committeeUNECLAC" class="card-body collapse" data-parent="#committeeAccordion">
          <h4>Chairs</h4>
          <ul>
            <li>Jorge Perez</li>
            <li>Amelia Seabold</li>
          </ul>
          <h4>Topics</h4>
          <ul>
            <li>Results of Hyperinflation in Venezuela</li>
            <li>The Economic Crisis in Puerto Rico after Hurricane Maria</li>
          </ul>
          <p><%= link_to "Download Background Guide", asset_path("MITMUNC_XI/MITMUNC_XI-BG-UNECLAC.pdf", skip_pipeline: true) %></p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeUNEP" data-toggle="collapse">
          <h3>United Nations Environment Programme (UNEP)</h3>
        </div>
        <div id="committeeUNEP" class="card-body collapse" data-parent="#committeeAccordion">
          <h4>Chairs</h4>
          <ul>
            <li>Camellia Huang</li>
            <li>Rene Reyes</li>
          </ul>
          <h4>Topics</h4>
          <ul>
            <li>Reaching Net Zero Emissions: Technologies for Emission Reduction and Carbon Removal</li>
            <li>Partnerships between Developing Countries and Superpowers to Construct Sustainable Infrastructure</li>
          </ul>
          <p><%= link_to "Download Background Guide", asset_path("MITMUNC_XI/MITMUNC_XI-BG-UNEP.pdf", skip_pipeline: true) %></p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeUNHCR" data-toggle="collapse">
          <h3>United Nations High Council for Refugees (UNHCR)</h3>
        </div>
        <div id="committeeUNHCR" class="card-body collapse" data-parent="#committeeAccordion">
          <h4>Chairs</h4>
          <ul>
            <li>Crystal Chang</li>
            <li>Aashini Shah</li>
          </ul>
          <h4>Topics</h4>
          <ul>
            <li>Consequences for Refugees after Brexit</li>
            <li>The Internally Displaced Persons Conflict in Myanmar</li>
          </ul>
          <p><%= link_to "Download Background Guide", asset_path("MITMUNC_XI/MITMUNC_XI-BG-UNHCR.pdf", skip_pipeline: true) %></p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeUNSC" data-toggle="collapse">
          <h3>United Nations Security Council (UNSC)</h3>
        </div>
        <div id="committeeUNSC" class="card-body collapse" data-parent="#committeeAccordion">
          <h4>Chairs</h4>
          <ul>
            <li>Griffin Ansel</li>
            <li>Anagh Tiwary</li>
          </ul>
          <h4>Topics</h4>
          <ul>
            <li>Food Insecurity in East Africa</li>
            <li>Syrian Civil War and Refugee Crisis</li>
          </ul>
          <p><%= link_to "Download Background Guide", asset_path("MITMUNC_XI/MITMUNC_XI-BG-UNSC.pdf", skip_pipeline: true) %></p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeWHO" data-toggle="collapse">
          <h3>World Health Organization (WHO)</h3>
        </div>
        <div id="committeeWHO" class="card-body collapse" data-parent="#committeeAccordion">
          <h4>Chairs</h4>
          <ul>
            <li>Kenneth Cox</li>
            <li>Ronit Langer</li>
          </ul>
          <h4>Topics</h4>
          <ul>
            <li>Combating Antimicrobial Resistance in Critical Superbugs</li>
            <li>Defining the Scope of the Global Preparedness Monitoring Board</li>
          </ul>
          <p><%= link_to "Download Background Guide", asset_path("MITMUNC_XI/MITMUNC_XI-BG-WHO.pdf", skip_pipeline: true) %></p>
        </div>
      </div>
    </div>
  </div>
</div>
