<% content_for :title do %>MIT Model United Nations Conference - Committees<% end %>

    <div class="jumbotron-unflags">
      <div id="committees-header" class="container text-center jumbo-text">
        <h2 class="garamond">MITMUNC X 2018 Committees</h2>
      </div>
    </div>

    <div id="committees-main-text" class="container main">
       <div class="row">
        <div class="garamond text-center">
          <p style="font-size:16px; color:rgba(26,26,26,.7)">MITMUNC features many different committees that embark on a wide array of enthralling topics past, present, and future.</p>
          <p style="font-size:16px; color:rgba(26,26,26,.7)"></p>
        </div>
      </div>
    </div>

    <div id="committees-main-list" class="container main garamond">
      <div id="accordion">
          <div class="spacer">
              <h4>United Nations Security Council<hr></h4>
              <div>
                <p> Chairs: Claire Hsu, Ellie Plachinski</p>
                <p> Topics: The Nuclear Threat on the Korean Peninsula, The Status of Iran’s Nuclear Program</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - UNSC'} %> </p>
              </div>

              <h4>Disarmament and International Security Committee<hr></h4>
              <div>
                <p> Chairs: Alex Zele, Justin Gong</p>
                <p> Topics: Democratic People’s Republic of Korea, Proliferation of Cyberweapons</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - DISEC'} %> </p>
              </div>

              <h4>Futuristic Committee<hr></h4>
              <div>
                <p> Chairs: Aaron Fleischer, Ting Li</p>
                <p> Topics: Nuclear Proliferation, Race to Space</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - Futuristic'} %> </p>
              </div>

              <h4>Human Rights Council<hr></h4>
              <div>
                <p> Chairs: Daniel Hong, Kristen Surrao</p>
                <p> Topics: Personal Protection Rights, Children's Rights</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - HRC'} %> </p>
              </div>

              <h4>United Nations Economic Commission for Latin America and the Caribbean<hr></h4>
              <div>
                <p> Chairs: Radha Mastreanda, Amy Fang<hr></p>
                <p> Topics: Climate Change, Income Inequality</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - UNECLAC'} %> </p>
              </div>

              <h4>World Health Organization<hr></h4>
              <div>
                <p> Chairs: Smrithi Raman, Lani Lee</p>
                <p> Topics: Tuberculosis, HIV and AIDS </p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - WHO'} %> </p>
              </div>

              <h4>United Nations Environment Program<hr></h4>
              <div>
                <p> Chairs: Áron Ricardo Perez Lopez, Nadezhda Dimitrova</p>
                <p> Topics: Hydraulic Fracturing, Nuclear Power as a Sustainable, Non-Renewable Source of Energy</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - UNEP'} %> </p>
              </div>

              <h4>Historical Committee<hr></h4>
              <div>
                <p> Chair: Christopher Copeland, Katie O'Nell</p>
                <p> Topic: British War Cabinet, French War Cabinet</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - Historical'} %> </p>
              </div>

              <h4>European Union<hr></h4>
              <div>
                <p> Chairs: Steven Holcomb, Jack Gordon</p>
                <p> Topics: Turkish Accession to the EU, EU Military</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - EU'} %> </p>
              </div>

              <h4>World Trade Organization<hr></h4>
              <div>
                <p> Chairs: Brook Eyob, Melanie Chen</p>
                <p> Topics: Trade and Climate Change, Consumer Protection</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - WTO'} %> </p>
              </div>

              <h4>International Monetary Fund<hr></h4>
              <div>
                <p> Chairs: Griffin Ansel, Anagh Tiwary</p>
                <p> Topics: The Membership of Cuba, The Greek Bailout</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - IMF'} %> </p>
              </div>

              <h4>International Atomic Energy Agency<hr></h4>
              <div>
                <p> Chairs: Joe Faraguna, Jacob Miske</p>
                <p> Topics: Non-Proliferation Treaty Renegotiation, Waste Reduction Methods</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - IAEA'} %> </p>
              </div>

              <h4>Association of Southeast Asian Nations<hr></h4>
              <div>
                <p> Chairs: Zoya Fan, Stephanie Yuen</p>
                <p> Topics: Effective Implementation of Women's Economic Rights Legislation, Drug Trafficking</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - ASEAN'} %> </p>
              </div>

              <h4>United Nations High Council for Refugees<hr></h4>
              <div>
                <p> Chairs: Kendall Garner, Alexander Papp</p>
                <p> Topics: High Risk Migrant Movements across the Mediterranean, Rohingya Refugee Crisis in Myanmar</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - UNHCR'} %> </p>
              </div>

              <h4>Special Political & Decolonization Committee<hr></h4>
              <div>
                <p> Chairs: Miana Smith, Miller Tan</p>
                <p> Topic: Issue of Gibraltar, Nuclear Testing in French Polynesia</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - SPECPOL'} %> </p>
              </div>

              <h4>Economic Social Council<hr></h4>
              <div>
                <p> Chairs: Oumaïma Makhlouk, Sarah Quraishi</p>
                <p> Topic: Humanitarian Crisis in Puerto Rico, Economic Aid for Syria</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - ECOSOC'} %> </p>
              </div>

            </div>
        </div>
  </div>
