<html>

<head>
  <%= render file: "partials/meta_partial.html" %>
  <link rel="stylesheet" href="/assets/conference.css.erb">
  <link rel="stylesheet" href="/assets/basic_template.css">
</head>

  <body>
    <%= render file: "partials/nav_partial.html.erb" %>

          <!-- Modal -->
    <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="memberModalLabel">Contribute to the International Rescue Committee</h4>
          </div>
          <div class="modal-body">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/International_Rescue_Committee_%28logo%29.png" class="img-responsive center-block">
      
            <p class="text-center"><strong><BR>MITMUNC 2018 has partnered with the International Rescue Committee as its charity partner.<BR></strong></p>
            <p>The IRC is known for its renowned response to refugee crises around the world. Apart from implementing localized relief efforts in areas of need, such as <strong>providing healthcare to war victims in Aleppo, Syria</strong> and assisting in the <strong>relocation of men, women, and children to safer areas</strong>, the IRC has introduced innovative solutions, such as providing direct cash transfers to people in dire financial need. Moreover, the IRC backs up and justifies its efforts with comprehensive research studies and trials, leveraging its resources to maximize impact. Finally, <strong>the IRC holds great ties to M.I.T.</strong> since researchers from the university have collaborated on measuring the impact of certain programs. <strong>We are very proud in knowing that International Rescue Committee President and CEO David Miliband is also an alum of M.I.T.</strong><BR><BR></p>
            <p class="text-center"><strong>Help us reach our goal by donating $2,$5, or more below!</strong> </p>

     

            <p class="text-center"> <a href="https://bit.ly/IRC_MITMUNC" class="btn btn-primary"> Donate here! </a></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

<!--     <script type="text/javascript">
    $('#memberModal').modal('show');
    </script>   -->  


    <div class="jumbotron-unflags">
      <div class="container text-center jumbo-text">
        <h2 class="garamond">MITMUNC X 2018 Committeess</h2>
      </div>
    </div>

    <div class="container main">
       <div class="row">
        <div class="garamond text-center">
          <p style="font-size:16px; color:rgba(26,26,26,.7)">MITMUNC features many different committees that embark on a wide array of enthralling topics past, present, and future. </p>
        </div>
      </div>
    </div>

    <div class="container main garamond">
      <div id="accordion">
          <div class="spacer">
              <h4>United Nations Security Council<hr></h4>
              <div>
                <p> Chairs: Claire Hsu, Ellie Plachinski</p>
                <p> Topics: The Nuclear Threat on the Korean Peninsula, The Status of Iran’s Nuclear Program</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - UNSC'} %> </p>
              </div>

              <h4>Disarmament and International Security Committee</h4>
              <div>
                <p> Chairs: Alex Zele, Justin Gong</p>
                <p> Topics: Democratic People’s Republic of Korea, Proliferation of Cyberweapons</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - DISEC'} %> </p>
              </div>

              <h4>Futuristic Committee<hr></h4>
              <div>
                <p> Chairs: Aaron Fleischer, Ting Li</p>
                <p> Topics: Nuclear Proliferation, Race to Space</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - Futuristic'} %> </p>
              </div>

              <h4>Human Rights Council<hr></h4>
              <div>
                <p> Chairs: Daniel Hong, Kristen Surrao</p>
                <p> Topics: Personal Protection Rights, Children's Rights</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - HRC'} %> </p>
              </div>

              <h4>United Nations Economic Commission for Latin America and the Caribbean<hr></h4>
              <div>
                <p> Chairs: Radha Mastreanda, Amy Fang</p>
                <p> Topics: Climate Change, Income Inequality</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - UNECLAC'} %> </p>
              </div>

              <h4>World Health Organization</h4>
              <div>
                <p> Chairs: Smrithi Raman, Lani Lee</p>
                <p> Topics: Tuberculosis, HIV and AIDS </p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - WHO'} %> </p>
              </div>

              <h4>United Nations Environment Program<hr></h4>
              <div>
                <p> Chairs: Áron Ricardo Perez Lopez, Nadezhda Dimitrova</p>
                <p> Topics: Hydraulic Fracturing, Nuclear Power as a Sustainable, Non-Renewable Source of Energy</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - UNEP'} %> </p>
              </div>

              <h4>Historical Committee<hr></h4>
              <div>
                <p> Chair: Christopher Copeland, Katie O'Nell</p>
                <p> Topic: British War Cabinet, French War Cabinet</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - Historical'} %> </p>
              </div>

              <h4>European Union<hr></h4>
              <div>           
                <p> Chairs: Steven Holcomb, Jack Gordon</p>
                <p> Topics: History and structure of the European Union, EU Military</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - EU'} %> </p>
              </div>

              <h4>World Trade Organization</h4>
              <div>
                <p> Chairs: Brook Eyob, Melanie Chen</p>
                <p> Topics: Trade and Climate Change, Consumer Protection</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - WTO'} %> </p>
              </div>

              <h4>International Monetary Fund<hr></h4>
              <div>
                <p> Chairs: Griffin Ansel, Anagh Tiwary</p>
                <p> Topics: The Membership of Cuba, The Greek Bailout</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - IMF'} %> </p>
              </div>

              <h4>International Atomic Energy Agency<hr></h4>
              <div>
                <p> Chairs: Joe Faraguna, Jacob Miske</p>
                <p> Topics: Non-Proliferation Treaty Renegotiation, Waste Reduction Methods</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - IAEA'} %> </p>
              </div>

              <h4>Association of Southeast Asian Nations<hr></h4>
              <div>
                <p> Chairs: Zoya Fan, Stephanie Yuen</p>
                <p> Topics: Effective Implementation of Women's Economic Rights Legislation, Drug Trafficking</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - ASEAN'} %> </p>
              </div>

              <h4>United Nations High Council for Refugees<hr></h4>
              <div>
                <p> Chairs: Kendall Garner, Alexander Papp</p>
                <p> Topics: High Risk Migrant Movements across the Mediterranean, Rohingya Refugee Crisis in Myanmar</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - UNHCR'} %> </p>
              </div>

              <h4>Special Political & Decolonization Committee<hr></h4>
              <div>
                <p> Chairs: Miana Smith, Miller Tan</p>
                <p> Topic: Issue of Gibraltar, Nuclear Testing in French Polynesia</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - SPECPOL'} %> </p>
              </div>

              <h4>Economic Social Council<hr></h4>
              <div>
                <p> Chairs: Oumaïma Makhlouk, Sarah Quraishi</p>
                <p> Topic: Humanitarian Crisis in Puerto Rico, Economic Aid for Syria</p>
                <p> <%= link_to "Download Background Guide", { :controller => "conferences",
                                                               :action => "download_pdf",
                                                               :name =>'MITMUNC - ECOSOC'} %> </p>
              </div>

            </div>
        </div>
  </div>
    <%= render file: "partials/footer_partial.html" %>
  </body>
</html>
