<% content_for :title do %>MIT Model United Nations Conference China<% end %>
<div id="container-china" class="container container-main">
  <div class="row">
    <div class="col">
      <h1 class="title">MITMUNC China</h1>
      <p>The MIT Model United Nations Conference (MITMUNC) is very proud to announce <br>the first branch of our conference outside of the United States, <strong>MITMUNC China</strong>!</p>
      <p>The second edition of MITMUNC China was held in Shanghai from Friday, August 24th through Sunday, August 26th, 2018 and consisted of six unique committees, each directed by MIT undergraduate students. All committee directors had previously chaired for our homegrown MITMUNC conference, held annually at MIT in the early spring, for one or more conferences, and had a great experience with this unique cross-cultural opportunity.</p>
      <p>MITMUNC China is closely co-organized with <a href="http://www.seedasdan.org/en/mitmunc-china/"><u><strong>ASDAN China</strong></u></a>. ASDAN is an educational non-profit based in the United Kingdom and offers international educational programs in China, Europe, North America. MITMUNC China will be a three-day conference and follow a similar schedule to our homegrown conference, but will follow the same rules and procedures.</p>
      <p>Above all, MITMUNC China offers around 300 Chinese high school students across the Asian nation the opportunity to debate upon important international issues posing veritable challenges to the world today, such as the reality of climate change, cybersecurity, and refugee assistance in conflict zones.</p>
      <p>MITMUNC China challenges its delegates to cooperate and perform their very best to develop feasible solutions to these diverse problems. MITMUNC China’s mission resonates very closely with the <a href="https://betterworld.mit.edu"><u><strong>M.I.T. Campaign for a Better World</strong></u></a>, pursuing education, research, and innovation with a passion for serious impact.</p>
      <p>We are thrilled on the renewal of this as an annual venture and all look forward to meeting the third group of MITMUNC China delegates come next August!</p>
      <p>Sincerely,</p>
      <p><strong>William A. Rodriguez & Madeline Zhang</strong><br />
      MIT Class of 2018, MIT Class of 2020<br />
      Founder, Secretary-General<br />
      MITMUNC China 2018</p>
    </div>
  </div>
  <div class="row align-items-center justify-content-center text-center">
    <div class="col-sm">
      <img class="img-fluid" src="https://asset.asdan.org.uk/56cad4aa4a3b1" alt="ASDAN China Logo" />
    </div>
    <div class="col-sm">
      <%= image_tag "mitmunc_logo.png", class: "img-fluid", alt: "MITMUNC Logo", style: "max-width: 300px;" %>
    </div>
  </div>
</div>
<div class="container container-heads">
  <div class="row">
    <div class="col">
      <h1 class="title">The Secretariat of MITMUNC China 2018</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "madeline.jpg", class: "img-responsive card-img-top", alt: "headshot" %>
        <div class="card-body">
          <p class="card-title">Madeline Zhang</p>
          <p class="card-text">Secretary-General<br />MITMUNC China 2018</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "william.jpg", class: "img-responsive card-img-top", alt: "headshot" %>
        <div class="card-body">
          <p class="card-title">William Rodriguez</p>
          <p class="card-text">Committee Director & Chair, Founder<br />International Monetary Fund</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "karunya.jpg", class: "img-responsive card-img-top", alt: "headshot" %>
        <div class="card-body">
          <p class="card-title">Karunya Sethuraman</p>
          <p class="card-text">Committee Director & Chair<br />Association of Southeast Asian Nations</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "arjun.jpg", class: "img-responsive card-img-top", alt: "headshot" %>
        <div class="card-body">
          <p class="card-title">Arjun Mithal</p>
          <p class="card-text">Committee Director & Chair<br />World Trade Organization</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "emma.jpg", class: "img-responsive card-img-top", alt: "headshot" %>
        <div class="card-body">
          <p class="card-title">Emma Bernstein</p>
          <p class="card-text">Committee Director & Chair<br />European Union</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "radha.jpg", class: "img-responsive card-img-top", alt: "headshot" %>
        <div class="card-body">
          <p class="card-title">Radha Mastandrea</p>
          <p class="card-text">Committee Director & Chair<br />International Atomic Energy Agency</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "miller.jpg", class: "img-responsive card-img-top", alt: "headshot" %>
        <div class="card-body">
          <p class="card-title">Miller Tan</p>
          <p class="card-text">Committee Director & Chair<br />United Nations Environmental Programme</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container container-main">
  <div class="row justify-content-center text-center">
    <div class="col-auto">
      <h1 class="title">Conference Information</h1>
      <h2 class="subtitle">Dates and Location</h2>
      <p>August 24&ndash;26, 2018</p>
      <p>Shanghai, China</p>
      <h2 class="subtitle">Registration</h2>
      <p>Please visit ASDAN China's link for registration:</p>
      <p><a href="http://www.seededu.cn/mitmunc.jsp" class="btn btn-info btn-lg" role="button">MITMUNC China Registration</a></p>
      <p>For all concerns or questions, please contact the MITMUNC China Secretariat:</p>
      <p><a href="mailto:mitmunc-china@mit.edu">mitmunc-china@mit.edu</a></p>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid jumbotron-highlight">
  <%= image_tag "shanghai_panorama.jpg", alt: "Panoramic Shanghai" %>
</div>
