<% content_for :title do %>MIT Model United Nations Conference China<% end %>
<div id="container-china" class="container container-main">
  <div class="row justify-content-start">
    <div class="col">
      <h1 class="title">MITMUNC China 2020</h1>
      <p>The MIT Model United Nations Conference (MITMUNC) is very proud to announce the first branch of our conference outside of the United States, <strong>MITMUNC China</strong>!</p>
      <p>MITMUNC China 2020 is adapting during these unprecedented times to provide an equally fulfilling experience for our delegates. The fourth edition of MITMUNC China will be held virtually over Zoom from Friday, August 14rd through Sunday, August 16th, 2020 and consist of six unique committees, each directed by MIT undergraduate students. All committee directors have previously chaired for our flagship MITMUNC conference, held annually at MIT in the early spring, and had a great experience with this unique cross-cultural opportunity.</p>
      <p>MITMUNC China is closely co-organized with <a href="http://www.seedasdan.org/en/mitmunc-en/"><u><strong>ASDAN China</strong></u></a>. ASDAN is an educational non-profit based in the United Kingdom and offers international educational programs in China, Europe, North America. MITMUNC China is a three-day conference that follows a similar schedule to our flagship conference, with the same rules and procedures.</p>
      <p>Above all, MITMUNC China offers hundreds of Chinese high school students across the Asian nation the opportunity to debate upon important international issues posing veritable challenges to the world today, such as the reality of climate change, cybersecurity, and refugee assistance in conflict zones.</p>
      <p>MITMUNC China challenges its delegates to cooperate and perform their very best to develop feasible solutions to these diverse problems. MITMUNC China’s mission resonates very closely with the <a href="https://betterworld.mit.edu"><u><strong>MIT Campaign for a Better World</strong></u></a>, pursuing education, research, and innovation with a passion for serious impact.</p>
      <p>We are thrilled on the renewal of this as an annual venture and all look forward to meeting the fourth group of MITMUNC China delegates come next August!</p>
      <p>Sincerely,</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p><strong>Ting Li</strong><br />
      MIT Class of 2021<br />
      Co-Secretary-General<br />
      MITMUNC China 2020</p>
    </div>
    <div class="col-sm-4">
      <p><strong>Sarah Quraishi</strong><br />
        MIT Class of 2021<br />
        Co-Secretary-General<br />
        MITMUNC China 2020</p>
    </div>
  </div>
  <div class="row align-items-center justify-content-center text-center">
    <div class="col-sm">
      <img class="img-fluid" src="https://asset.asdan.org.uk/56cad4aa4a3b1" alt="ASDAN China Logo" />
    </div>
    <div class="col-sm">
      <%= image_tag "mitmunc_logo.png", class: "img-fluid", alt: "MITMUNC Logo", style: "max-width: 300px;" %>
    </div>
  </div>
</div>
<div class="container container-main">
  <div class="row justify-content-center text-center">
    <div class="col-auto">
      <h1 class="title">Conference Information</h1>
      <h2 class="subtitle">Dates and Location</h2>
      <p>August 14&ndash;16, 2020</p>
      <p>Zoom Conference Rooms: details to come following registration</p>
      <h2 class="subtitle">Details</h2>
      <p>Please visit ASDAN China's link for more details:</p>
      <p><a href="http://www.seededu.cn/mitmunc.jsp" class="btn btn-primary btn-lg" role="button">MITMUNC China Information</a></p>
      <p>For all concerns or questions, please contact the MITMUNC China Secretariat:</p>
      <p><a href="mailto:mitmunc-china@mit.edu">mitmunc-china@mit.edu</a></p>
    </div>
  </div>
</div>
<div class="container container-heads">
  <div class="row">
    <div class="col">
      <h1 class="title">The Secretariat of MITMUNC China 2020</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "Ting_2020.jpg", class: "img-responsive card-img-top", alt: "headshot" %>
        <div class="card-body">
          <p class="card-title">Ting Li</p>
          <p class="card-text">Secretary-General<br />MITMUNC China 2020</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "Sarah_2020.jpg", class: "img-responsive card-img-top", alt: "headshot" %>
        <div class="card-body">
          <p class="card-title">Sarah Quraishi</p>
          <p class="card-text">Secretary-General<br />MITMUNC China 2020</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "karunya.jpg", class: "img-responsive card-img-top", alt: "headshot" %>
        <div class="card-body">
          <p class="card-title">Karunya Sethuraman</p>
          <p class="card-text">Committee Director & Chair<br />TBD</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "Jorge_2020.jpg", class: "img-responsive card-img-top", alt: "headshot" %>
        <div class="card-body">
          <p class="card-title">Jorge Perez</p>
          <p class="card-text">Committee Director & Chair<br />TBD</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "Sohini_2020.jpg", class: "img-responsive card-img-top", alt: "headshot" %>
        <div class="card-body">
          <p class="card-title">Sohini Kar</p>
          <p class="card-text">Committee Director & Chair<br />TBD</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "isy.jpg", class: "img-responsive card-img-top", alt: "headshot" %>
        <div class="card-body">
          <p class="card-title">Isy Osubor</p>
          <p class="card-text">Committee Director & Chair<br />TBD</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "Griffin_2020.jpg", class: "img-responsive card-img-top", alt: "headshot" %>
        <div class="card-body">
          <p class="card-title">Griffin Ansel</p>
          <p class="card-text">Committee Director & Chair<br />TBD</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid jumbotron-highlight">
  <%= image_tag "shanghai_panorama.jpg", alt: "Panoramic Shanghai" %>
</div>
