<% content_for :title do %>MIT Model United Nations Conference - About<% end %>
<div class="container container-main">
  <div class="row">
    <div class="column">
      <h1 class="title">What is MITMUNC?</h1>
      <%= render file: "../assets/content/about_content.html" %>
    </div>
  </div>
</div>
<div class="container container-heads">
  <div class="row">
    <div class="col">
      <h2 class="title">MITMUNC XII 2020 Secretariat</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <%= image_tag "Karunya_2020.jpg", class: "img-responsive card-img-top", alt: "Karunya" %>
        <div class="card-body">
          <p class="card-title">Karunya Sethuraman</p>
          <p class="card-text">Secretary-General</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag "Octavio.jpg", class: "img-responsive card-img-top", alt: "Joe" %>
        <div class="card-body">
          <p class="card-title">Octavio Vega</p>
          <p class="card-text">Secretary-General</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag "Sarah_2020.jpg", class: "img-responsive card-img-top", alt: "Lucy" %>
        <div class="card-body">
          <p class="card-title">Sarah Quraishi </p>
          <p class="card-text">Director General</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <%= image_tag "Christopher_2020.jpg", class: "img-responsive card-img-top", alt: "Miller" %>
        <div class="card-body">
          <p class="card-title">Christopher Copeland</p>
          <p class="card-text">Director General</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag "Madeline_2020.jpg", class: "img-responsive card-img-top", alt: "Maddy" %>
        <div class="card-body">
          <p class="card-title">Madeline Zhang</p>
          <p class="card-text">Director of Public Relations</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag "Miller_2020.jpg", class: "img-responsive card-img-top", alt: "Emma" %>
        <div class="card-body">
          <p class="card-title">Miller Tan</p>
          <p class="card-text">Chief Operating Officer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <%= image_tag "Nadia_2020.jpg", class: "img-responsive card-img-top", alt: "Arjun" %>
        <div class="card-body">
          <p class="card-title">Nadia Dimitrova</p>
          <p class="card-text">Director of Campus Outreach</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag "Wilson_2020.jpg", class: "img-responsive card-img-top", alt: "Áron" %>
        <div class="card-body">
          <p class="card-title">Wilson Spearman</p>
          <p class="card-text">Director of Business Outreach</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag "ting_2020.jpg", class: "img-responsive card-img-top", alt: "Ting" %>
        <div class="card-body">
          <p class="card-title">Tingyu Li</p>
          <p class="card-text">Chief Financial Officer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <%= image_tag "Claire_2020.jpg", class: "img-responsive card-img-top", alt: "Sarah" %>
        <div class="card-body">
          <p class="card-title">Claire Hsu</p>
          <p class="card-text">Director of External Outreach</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag "Aron_2020.jpg", class: "img-responsive card-img-top", alt: "Nadia" %>
        <div class="card-body">
          <p class="card-title">Áron Ricardo Perez-Lopez</p>
          <p class="card-text">Director of Innovation and Technology</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag "Ashwin_2020.jpg", class: "img-responsive card-img-top", alt: "Chris" %>
        <div class="card-body">
          <p class="card-title">Ashwin Srinivasan</p>
          <p class="card-text">Assistant Director of Innovation and Technology</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <%= image_tag "Sohini_2020.jpg", class: "img-responsive card-img-top", alt: "William" %>
        <div class="card-body">
          <p class="card-title">Sohini Kar</p>
          <p class="card-text">Director of Business Operations</p>
        </div>
      </div>
    </div>
  </div>
</div>
