<% content_for :title do %>MIT Model United Nations Conference &mdash; Info &amp; Fees<% end %>
<div class="container container-main">
  <div class="row">
    <div class="col">
      <h1 class="title">Conference Information</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>In order to ensure participation in MITMUNC XII 2020, faculty advisors and delegates must pay special attention to our conference deadlines as well as apply early and properly.</p>
      <p>Please note that each school may register a <strong>maximum of 30</strong> delegates.</p>
      <p>MITMUNC is <strong>only</strong> open to high school students in all nations across the world and not to those currently enrolled in a full-time college or university.</p>
      <p>The following is the schedule for MITMUNC XII 2020.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="subtitle">Important Dates <%= fa_icon "calendar", alt: "calendar" %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="date-heading">Mid-September 2019</h3>
      <p>Regular Registration opens.</p>
      <h3 class="date-heading">November 24th, 2019</h3>
      <p>Regular Registration closes.</p>
      <p>All conference fees due. <em>Failure to provide payment will result in relegation to waitlist.</em></p>
      <h3 class="date-heading">December 1st, 2019</h3>
      <p>Waitlist application opens. All conference fees due immediately upon acceptance from waitlist.</p>
    </div>
    <div class="col-md-6">
      <h3 class="date-heading">January 5th, 2020</h3>
      <p>Waitlist application closes. Applications submitted after this date will incur a <strong>$30 late fee</strong> per delegate.</p>
      <h3 class="date-heading">January 26th, 2020</h3>
      <p>Position Papers due from delegates. Late penalty applied afterwards.</p>
      <h3 class="date-heading">February 7&ndash;9th, 2020</h3>
      <p>MITMUNC XII 2020</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="subtitle">Conference Fees <%= fa_icon "money", alt: "fee" %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="date-heading">Schools with more than 5 delegates</h3>
      <ul>
        <li>$75 USD school fee</li>
        <li>$70 USD per individual delegate.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3 class="date-heading">Schools with less than 5 delegates</h3>
      <ul>
        <li>Exempt from school fee</li>
        <li>$70 USD per individual delegate</li>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="date-heading">Payment Process</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>After completing the initial registration process, schools will be asked to complete their payment by sending a check or submitting a domestic or international wire transfer. </p>
      <p>To process payments, a school should collect all fees from delegates and pay once. Once payment has been received, the designated school advisor will receive a final notice of registration confirmation.</p>
      <p>Payment <i>must</i> be received upon specified conference deadlines to secure your delegation's spots in MITMUNC. Failure to complete this process will result in a delegation's spots being released to waitlist due to high demand.</p>
      <p>Refunds cannot be processed after payment unless conference is cancelled.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="date-heading">Financial Aid</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <p>If payment of conference fees is a barrier to participation to MITMUNC, you may apply for financial aid to assist in reduction of conference fees by filling in the financial aid section of the registration form.</p>
    </div>
  </div>
  <div id="schedule" class="row">
    <div class="col-auto">
      <h2 class="subtitle">Conference Schedule <%= fa_icon "clock-o", alt: "schedule" %></h2>
      <ul>
        <li class="date-heading">Friday, February 7th</li>
        <li>3:00&ndash;5:00 PM: Delegation Check-In</li>
        <li>5:00&ndash;6:00 PM: Opening Ceremonies</li>
        <li>7:30PM&ndash;9:30 PM: Committee Session I</li>
        <li class="date-heading">Saturday, February 8th</li>
        <li>9:30AM&ndash;12:30 PM: Committee Session II</li>
        <li>12:30PM&ndash;2:00 PM: Lunch Break</li>
        <li>2:00&ndash;5:00 PM: Committee Session III</li>
        <li>5:00PM&ndash;6:30PM: Dinner Break</li>
        <li>6:30PM-8:30 PM: Committee Session IV</li>
        <li>7:00 PM: Advisor Meeting</li>
        <li>9:30 PM&ndash;11:30 PM: Delegate Dance</li>
        <li class="date-heading">Sunday, February 9th</li>
        <li>9:30&ndash;11:30 AM: Committee Session V</li>
        <li>11:30 AM&ndash;1:00 PM: Lunch Break</li>
        <li>1:00 PM: Closing Ceremonies</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class= "subtitle">Accommodations <%= fa_icon "hotel", alt: "accommodations" %> </h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="description">MITMUNC XII 2020 will be held on the Massachusetts Institute of Technology campus. As in previous years, MITMUNC has arranged a discounted rooming rate for delegates and advisors to stay at the Boston Marriott Cambridge.</p>
      <p class="description">There is a discounted room rate of $159.00 per room.</p>
      <p class="description">Fill out and submit <%= link_to "this form", asset_path("MITMUNC_XII/Model-UN-2020_Blank-School-Reservation-Form-2.doc", skip_pipeline: true)%> to reserve at the above rate. More information about reserving rooms can be found <%= link_to "here", asset_path("MITMUNC_XII/Model-UN-School-Information-Form-2020-2.doc", skip_pipeline: true)%>.</p>
      <p class="description">Boston Marriott Cambridge in Kendall Square is the closest hotel to conference venues, a mere 7 minutes walking distance.</p>
      <p class="text-center"><strong><a href="http://www.marriott.com/hotels/travel/boscb-boston-marriott-cambridge/">Boston Marriott Cambridge</a></strong><br/>
        50 Broadway, Cambridge, MA 02142<br/>
        Hotel: (617) 494-6600
      </p>
      <img class="my-3" src="http://cache.marriott.com/propertyimages/b/boscb/boscb_main02_r.jpg?resize=0.5x:0.5x" style="width: 100%" />
      <iframe class="my-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.0372249550096!2d-71.08835504924662!3d42.363045942804014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e370af6823c2ed%3A0x9179247fafa0ddf8!2sBoston+Marriott+Cambridge!5e0!3m2!1sen!2spr!4v1497822975264" width="600" height="450" frameborder="0" style="border:0; width: 100%" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="subtitle">Miscellaneous <%= fa_icon "cog", alt: "miscellaneous" %></h2>
      <h3 class="date-heading">Visa Letters</h3>
      <p>If a letter of invitation from MITMUNC is required for a visa application in order to attend our conference, a delegation may request one from the MITMUNC XI Secretariat directly by email.</p>
      <h3 class="date-heading">Single Delegates</h3>
      <p>We recommend students contact their school's Model United Nations club to foster interest in attending MITMUNC as the school's delegation rather as an individual delegate. If interest is limited or there is no such club, you must find a faculty advisor (school teacher or parent), and apply as a single delegate. Also consider starting your school's Model United Nations club!</p>
      <h3 class="date-heading">Food &amp; Meals</h3>
      <p>MITMUNC will not provide meals for its attending delegates. There are breadth of restaurants and dining options available at Kendall Square, near conference venues.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
        <form action="//mitmunc.us16.list-manage.com/subscribe/post?u=58202ace4a7b6230b9872eb9b&amp;id=73b186ceb2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <h2>Subscribe to our mailing list to receive registration updates </h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
              <label for="mce-FNAME">First Name </label>
              <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-LNAME">Last Name </label>
              <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_58202ace4a7b6230b9872eb9b_73b186ceb2" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
      <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>
