<div class="container-fluid container-footer">
  <div class="row footer-contact">
    <div class="col-auto">Contact Us:</div>
    <div class="col-auto"><a href="mailto:secretariat-mitmunc@mit.edu"><%= fa_icon "envelope", text: "mitmunc-secretariat@mit.edu" %></a></div>
    <div class="col-auto"><a href="tel:6015648686" ><%= fa_icon "phone", text: "(601) 564-8MUN" %></a></div>
  </div>
  <div class="row footer-copyright">
    <div class="col-auto">&copy; Copyright 2016-2018 MIT Model United Nations</div>
    <div class="col-auto"><%= fa_icon "code", alt: "Built" %> with <%= fa_icon "heart", alt: "love" %> by Rachel Simpson &rsquo;18 &amp; Áron Ricardo Perez-Lopez &rsquo;20</div>
    <div class="col-auto"><a href="https://github.com/MITMUNC/mitmunc-website/"><%= fa_icon "github", text: "GitHub" %></a></div>
  </div>
</div>
