<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= render file: "partials/meta_partial.html.erb" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <%= value %>
        </div>
    <% end %>
    <%= render file: "partials/nav_partial.html.erb" %>

    <%= yield %>

    <%= render file: "partials/footer_partial.html" %>
  </body>
</html>
